html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  background: #aff0ff;
  padding: 0;
  margin: 0;
}

/* Drifting Clouds */
.cloud {
  position: absolute;
}

.cloud1 {
  opacity: 0.8;
  top: 3em;
  width: 20em;
  z-index: 100;
  -webkit-animation: drift 25s linear infinite;
  -moz-animation: drift 25s linear infinite;
  -o-animation: drift 25s linear infinite;
  animation: drift 25s linear infinite;
}

.cloud2 {
  opacity: 0.7;
  top: 1em;
  width: 20em;
  z-index: 200;
  -webkit-animation: drift 35s linear 10s infinite backwards;
  -moz-animation: drift 35s linear 10s infinite backwards;
  -o-animation: drift 35s linear 10s infinite backwards;
  animation: drift 35s linear 10s infinite backwards;
}

.cloud3 {
  opacity: 0.4;
  top: 6em;
  width: 25em;
  z-index: 200;
  -webkit-animation: drift 30s linear 5s infinite backwards;
  -moz-animation: drift 30s linear 5s infinite backwards;
  -o-animation: drift 30s linear 5s infinite backwards;
  animation: drift 30s linear 5s infinite backwards;
}

#grass {
  bottom: -1em;
  position: fixed;
}

#mountains {
  bottom: 0;
  position: fixed;
}

#sun {
  border-radius: 50%;
  background-color: #ffef18;
  height: 7em;
  width: 7em;
  margin: 2em;
}

/* Animations */
@-webkit-keyframes drift {
  from {
    -webkit-transform: translate(-500px);
  }
  to {
    -webkit-transform: translate(1350px);
  }
}
@-moz-keyframes drift {
  from {
    -webkit-transform: translate(-500px);
  }
  to {
    -webkit-transform: translate(1350px);
  }
}
@-o-keyframes drift {
  from {
    -webkit-transform: translate(-500px);
  }
  to {
    -webkit-transform: translate(1350px);
  }
}
@keyframes drift {
  from {
    -webkit-transform: translate(-500px);
  }
  to {
    -webkit-transform: translate(1350px);
  }
}
