body {
  background: $bg-sky; 
  padding:0;
  margin:0;
}


/* Drifting Clouds */
.cloud {
  position: absolute;
}

.cloud1 {
  opacity: 0.8;
  top: 3em;
  width: 20em;
  z-index:100;

  // shorthand: name duration timing-function delay iteration-count direction fill-mode
  @include animation(drift 25s linear infinite);
}

.cloud2 {
  opacity: 0.7;
  top: 1em;
  width: 20em;
  z-index: 200;

  @include animation(drift 35s linear 10s infinite backwards);
}

.cloud3 {
  opacity: 0.4;
  top: 6em;
  width: 25em;
  z-index: 200;

  @include animation(drift 30s linear 5s infinite backwards);
}

#grass {
  bottom: -1em;
  position: fixed;
}

#mountains {
  bottom: 0;
  position: fixed;
}

#sun {
  border-radius: 50%;
  background-color: $sun-color;
  height: 7em;
  width: 7em;
  margin: 2em;
}

/* Animations */
@include keyframes(drift) {
  from {-webkit-transform: translate(-500px);}
  to {-webkit-transform: translate(1350px);}
}