html, body {
  background-color: $bg-sky;
}

#cloud {
  width: 20em;
  @include animation(drift 2s ease-in);
}

#grass {
  bottom: 0;
  position: fixed;
}
 
#sun {
  border-radius: 50%;
  background-color: $sun-color;
  height: 7em;
  width: 7em;
  margin: 2em;
}

@include keyframes(drift) {
  from {-webkit-transform: translateX(0px); }
  to {-webkit-transform: translateX(400px); }
}