// Colors
$bg-sunrise: rgba(240, 165, 124, 1);
$bg-morning: rgba(175, 240, 255, 1);
$bg-afternoon: rgba(90, 191, 209, 1);
$bg-sunset: rgba(244, 179, 79, 1);
$bg-evening: rgba(45, 101, 138, 1);
$bg-night: rgba(30, 21, 70, 1);

$sun-color: rgba(255, 239, 24, 1);